.queryMenuContainer {
  padding: 4.5vh 0 2vh 13%;
  border-right: 1px dashed #a0a0a0;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.queryMenuContainer::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
  scrollbar-gutter: stable both-edges;
  /* display: none; */
}
.queryMenuContainer::-webkit-scrollbar-thumb {
  background: hsla(210, 40%, 75%, 0.4);
  /* border: 1px dashed #242424; */
  border-radius: 30px 0 0 30px;
}
.queryMenuTitleWrapper {
  padding-right: 10px;
  padding-bottom: 0.5vh;
  margin-bottom: 1vh;
  border-bottom: 1px dashed #a0a0a0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.queryMenuQueryTitle {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: -0.5px;
  color: #242424;
}
.queryMenuQueryExpand {
  font-family: 'Poppins', sans-serif;
  font-size: 1.05rem;
  font-weight: 300;
  color: #242424;
  cursor: pointer;
  user-select: none;
}

.queryMenuQueryItemsContainer {
  max-height: 52vh;
  margin-bottom: 2vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  transition: 0.5s ease;
}
.nonScrollable {
  overflow-y: hidden;
}

.queryMenuQueryItemsContainer::-webkit-scrollbar {
  width: 6px;
  scrollbar-gutter: stable both-edges;
  background: transparent;
}
.queryMenuQueryItemsContainer::-webkit-scrollbar-thumb {
  background: var(--button-highlight-color);
  /* border: 1px dashed #242424; */
  border-radius: 30px 0 0 30px;
}

.collapse {
  max-height: 0px;
  opacity: 0;
}

.queryMenuQueryItem {
  margin-bottom: 1vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 1;
  font-family: 'Poppins', sans-serif;
  font-size: 0.7rem;
  font-weight: 300;
  color: #a0a0a0;
}
.queryMenuQueryCheckbox {
  accent-color: var(--button-click-color);
  margin-right: 5px;
  border-color: #a0a0a0;
  cursor: pointer;
}
.queryMenuQueryCheckbox:checked {
  border-color: var(--button-click-color);
}
.queryMenuQueryCheckboxLabel {
  font-family: 'Poppins', sans-serif;
  font-size: 0.7rem;
  font-weight: 300;
  color: #a0a0a0;
  cursor: pointer;
  transition: 0.1s ease;
}
.queryMenuQueryCheckboxLabel:hover {
  color: var(--button-click-color);
  font-weight: 400;
}
.queryMenuQueryCheckbox:checked ~ .queryMenuQueryCheckboxLabel {
  color: var(--button-click-color);
  font-weight: 600;
}
