.productScreenContainer {
  display: flex;
  flex-direction: column;
  top: 0;
}

.productContainer {
  width: 100%;
  margin-bottom: 2vh;
  padding: 4vh 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.productImage {
  width: 50%;
  min-width: 500px;
}

.productDetails {
  width: 40%;
  min-width: 400px;
  font-size: 0.9rem;
}

.productTitle {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1;
}

.productArtist {
  margin-bottom: 0.5vh;
  font-size: 1rem;
  font-weight: 600;
  color: hsl(210, 100%, 15%);
  text-transform: uppercase;
  letter-spacing: -0.4px;
}

.productDescription {
  margin-bottom: 1vh;
  font-size: 0.9rem;
  text-align: justify;
  line-height: 1.35;
}

.productRating {
  margin-bottom: 2vh;
  display: inline-flex;
  border-bottom: 1px solid rgba(255, 217, 0, 0);
  font-size: 2rem;
  gap: 6px;
  cursor: pointer;
  transition: 1s ease;
}

.productRating:hover {
  border-bottom: 1px solid #ffc000;
}

.productOptionsContainer {
  margin-bottom: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.productQuantityBoxContainer {
  width: 100%;
  margin-bottom: 1vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.productScreenStyleQtyInStock {
  font-family: 'Poppins', sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  color: green;
}
.productQuantityContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.productQuantityLabel {
  width: 80px;
}
.productQuantity {
  width: 50px;
  height: 25px;
  text-align: center;
}

.productDeviceContainer {
  margin-bottom: 1vh;
  display: grid;
  grid-template-columns: 1fr 7fr;
  align-items: center;
}

.productDeviceContainer {
  width: 100%;
}

.productDeviceLabel {
  width: 80px;
}
.productDeviceLabel span {
  color: rgb(204, 9, 9);
}

.productDevice {
  max-width: 100%;
  min-width: 220px;
  height: 30px;
  text-align: center;
}
.productDeviceMainTitle {
  font-family: 'Poppins';
  text-align: center;
}
.productDeviceTitle {
  padding: 5px 0;
  font-family: 'Poppins';
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: rgb(77, 77, 77);
}

.productDeviceOption {
  text-align: left;
}

.productPrice {
  margin-bottom: 1vh;
  font-size: 2rem;
  font-weight: 900;
}

.productButton {
  padding: 15px 25px;
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 5px;
  user-select: none;
}
.productButtonActive {
  background: var(--button-color);
  color: white;
  box-shadow: inset 2px 2px 3px var(--button-highlight-color);
  cursor: pointer;
}
.productButtonActive:active {
  background: var(--button-click-color);
  box-shadow: inset 2px 3px 3px #15181d;
  text-shadow: 2px 2px 1px #15181d;
  cursor: pointer;
  transition: 0.1s ease;
}
.productButtonDisabled {
  background: var(--button-hover-color);
  cursor: default;
}
