a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  position: relative;
  top: 0;
  font-family: 'Poppins', sans-serif;
  z-index: 99;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

.navbarTop {
  max-height: var(--navbar-top-height);
  padding: 2vh 8%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  background: white;
  color: var(--main-color);
  column-gap: 50px;
  line-height: 1;
}

.navbarLogo {
  margin-right: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  bottom: 2px;
}
.navbarLogo h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 48px;
  font-weight: 400;
}

.navbarInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  justify-self: flex-end;
  grid-template-rows: repeat(3, 1fr);
  font-size: 12px;
  letter-spacing: calc(0.03 * 1vmax);
  white-space: nowrap;
  gap: 3px;
}

.navbarInfoLine {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 300;
}
.separators {
  margin: 0 10px;
}

.customerServiceContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2px;
}

.searchBoxContainerLink {
  font-weight: 600;
  transition: 0.2s ease, color 0.1s ease;
  display: inline-block;
}

.searchBoxContainerLink::after {
  content: '';
  width: 0;
  height: 1px;
  display: block;
  position: relative;
  bottom: 1px;
  background: var(--main-color);
  transition: 0.2s ease-in-out;
}
.searchBoxContainerLink:hover::after {
  width: 100%;
  background: var(--main-color);
}

.searchBoxContainerLink span {
  display: flex;
  align-items: center;
  gap: 3px;
}

.profileLinkContainer {
  position: relative;
  top: 0;
}

.profileLinkTitle {
  min-width: 120px;
  padding: 0.5vh 0;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  line-height: 2;
  color: white;
  background: var(--main-color);
  border: var(--dashed-border);
  border-radius: 5px;
  cursor: pointer;
  transition: 0s;
}
.profileLinkDropdownContainer:hover ~ .profileLinkTitle {
  background: var(--main-color);
  border-top: var(--dashed-border);
  border-left: var(--dashed-border);
  border-right: var(--dashed-border);
  border-bottom: 1px dashed transparent;
  border-radius: 5px 5px 0 0;
  color: white;
  transition: 0.1s ease-in-out;
}

.profileLinkDropdownContainer {
  opacity: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  border-bottom: var(--dashed-border);
  border-left: var(--dashed-border);
  border-right: var(--dashed-border);
  background: var(--main-color);
  color: white;
  z-index: 9999;
  transition: 0.1s ease-in-out;
}
.profileLinkTitle:hover + .profileLinkDropdownContainer,
.profileLinkDropdownContainer:hover,
.profileLinkDropdownContainer:focus-within,
.profileLink:focus .profileLinkDropdownContainer {
  opacity: 1;
}

.profileLink {
  width: 100%;
  padding: 1vh 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileLink:first-child {
  padding: 1.5vh 5px 1vh;
}
.profileLink:last-child {
  padding: 1vh 5px 1.5vh;
}
.profileLink:hover {
  animation: pulse 0.6s ease infinite alternate;
}

.navbarIcons {
  font-size: 1.5em;
  line-height: 1.2;
  color: var(--main-color);
  position: relative;
}
.navbarIconsShopping {
  font-size: 1.5em;
  line-height: 1.2;
  color: var(--main-color);
  position: relative;
}

.shoppingCartQuantityWrapper {
  display: flex;
  position: relative;
}

.shoppingCartQuantity {
  width: 16px;
  aspect-ratio: 1;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85em;
  font-weight: 400;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  background: var(--highlight-color);
  z-index: 999;
}

.searchBoxContainer {
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 1;
}

.searchBoxContainer a {
  margin-left: 10px;
  text-decoration: none;
  color: var(--main-color);
  transition: 0.2 ease;
}

.searchBox {
  width: 200px;
  height: 100%;
  margin-left: 2%;
  padding: 1.2vh 5%;
  border: none;
  border-bottom: 1px solid rgb(220, 220, 220);
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: var(--main-color);
  background-color: rgb(245, 245, 245);
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
}
.searchBox:focus {
  outline: none;
  border: 1px dashed currentColor;
}
.searchButton {
  width: 25px;
  height: 100%;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-bottom: 1px solid rgb(220, 220, 220);
  background-color: rgb(245, 245, 245);
  cursor: pointer;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
}

.searchButtonIcon {
  font-size: 1.2em;
  font-weight: 400;
  color: var(--button-highlight-color);
  transform: rotate(0deg);
  transition: 0.2s ease;
}
.searchButton:hover .searchButtonIcon {
  color: var(--main-color);
}

.navbarMainMenu {
  max-height: var(--navbar-menu-height);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-color);
  border-top: var(--dashed-border);
  border-bottom: var(--dashed-border);
  overflow: hidden;
  z-index: 999;
}

.navbarMenuOptions {
  width: 100%;
  max-height: var(--navbar-menu-height);
  padding: 0 calc(5px + 15%);
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: calc(1px / var(--g-ratio));
  color: white;
  text-shadow: 1px 2px 4px black;
}

.navbarMenuLink {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarMenuOptions li {
  max-height: var(--navbar-menu-height);
  width: 80%;
  padding: 1vh 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  cursor: pointer;
  white-space: nowrap;
}
.navbarMenuOptions li:hover {
  animation: pulse 0.6s ease infinite alternate;
}

@keyframes pulse {
  0% {
    background: var(--main-color);
  }
  100% {
    background: #757575;
  }
}
