/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
/* font-family: 'Abril Fatface', cursive; */

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.Navbar {
  width: 100%;
  /* min-width: 700px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  font-family: 'Poppins', sans-serif;
}

.NavbarTop {
  padding: 1vh calc(10px + 5%);
  display: flex;
  justify-content: space-between;
  align-content: center;
  background: white;
  color: var(--main-color);
  gap: 50px;
}

.NavbarTopHeaderOpen {
  height: var(--navbar-top-height);
}
.NavbarTopHeaderClosed {
  height: var(--navbar-top-height);
}

.NavbarLogo {
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.NavbarLogo h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 48px;
  font-weight: 200;
  line-height: 1;
}

.NavbarInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  justify-self: flex-end;
  grid-template-rows: repeat(3, 1fr);
  font-size: 12px;
  letter-spacing: calc(0.03 * 1vmax);
  white-space: nowrap;
  gap: 10px;
}

.NavbarInfoLine {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-self: center;
  font-weight: 300;
  gap: calc(10px + 1%);
}

.searchBoxContainerLink {
  font-weight: 600;
  transition: 0.2s ease, color 0.1s ease;
  display: inline-block;
}

.searchBoxContainerLink::after {
  content: '';
  width: 0;
  height: 1px;
  display: block;
  bottom: 0;
  background: var(--main-color);
  transition: 0.2s ease-in-out;
}
.searchBoxContainerLink:hover::after {
  background: var(--main-color);
  width: 100%;
}

.searchBoxContainerLink span {
  display: flex;
  align-items: center;
  gap: 3px;
}

.searchBoxIcons {
  font-size: 1.1rem;
  position: relative;
}

.shoppingCartQuantityWrapper {
  position: absolute;
}

.shoppingCartQuantity {
  box-sizing: content-box;
  width: 1rem;
  aspect-ratio: 1;
  padding: 0.02rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85em;
  font-weight: 400;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  position: relative;
  right: 10px;
  bottom: 15px;
  background: var(--highlight-color);
  z-index: 999;
}

.NavbarInfoMiddle {
  padding: calc(5px + 1vh) 0;
  font-weight: 600;
}

.searchBoxContainer {
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 1;
}

.searchBoxContainer a {
  margin-left: 10px;
  text-decoration: none;
  color: var(--main-color);
  transition: 0.2 ease;
}

.searchBox {
  width: 200px;
  margin-left: 2%;
  padding: 1.2vh 1%;
  height: 100%;
  border: none;
  border-bottom: 1px solid rgb(220, 220, 220);
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: var(--main-color);
  background-color: rgb(245, 245, 245);
}
.searchBox:focus {
  outline: none;
}
.searchButton {
  width: 20px;
  height: 100%;
  padding: 1.2vh 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgb(220, 220, 220);
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}
.searchButtonIcon {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--highlight-color);
  transform: rotate(-45deg);
  transition: 0.1s ease;
}
.searchButtonIcon:hover {
  color: var(--main-color);
}

.NavbarMainMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-color);
  border-top: var(--dashed-border);
  border-bottom: var(--dashed-border);
  box-sizing: content-box;
  z-index: 999;
}

.NavbarMenuOptions {
  width: 100%;
  height: 100%;
  padding: 0 calc(5px + 15%);
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: calc(1px / var(--g-ratio));
  color: white;
}

.NavbarMenuOptions li {
  width: 80%;
  height: 100%;
  padding: 1vh 10px;
  cursor: pointer;
  white-space: nowrap;
}
.NavbarMenuOptions li:hover {
  animation: pulse 0.6s ease infinite alternate;
  animation: name duration timing-function delay iteration-count direction
    fill-mode;
}

@keyframes pulse {
  0% {
    background: var(--main-color);
  }
  100% {
    background: #757575;
  }
}
