/* VARIABLES */
:root {
  --g-ratio: 1.618;
  --navbar-height: calc(100px + 5vh);
  --navbar-top-height: calc(var(--navbar-height) * 0.75);
  --body_bg: #ffffff;
  --main-color: #242424;
  --highlight-color: #525252;
  --dashed-border: 1px dashed white;
}

.App {
  width: 100%;
  min-width: 720px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
