.App {
  width: 100%;
  min-width: 700px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.toast {
  padding: 5px 75px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 900;
  text-align: center;
  display: flex;
  flex: 0 1 auto;
  justify-content: center;
  align-items: center;
  color: white;
  background: linear-gradient(
    to bottom right,
    var(--button-click-color),
    var(--button-color)
  );
  border: 1px dashed rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}

.toastBody {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
.toastProgress {
  background: rgba(255, 255, 255, 0.6);
  height: 10px;
}
