.quantityBoxInputContainer {
  height: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.quantityBoxInput {
  width: 25px;
  height: 100%;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  text-align: center;
  background: hsl(0, 0%, 95%);
  box-shadow: inset 0px 0px 2px #838383;
}

.quantityBoxInputButton {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* outline: 1px solid var(--button-color); */
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}

.quantityBoxInputButtonActive {
  border: 1px solid var(--button-color);
  background: var(--button-color);
  color: white;
  box-shadow: inset 1px 1px 2px var(--button-highlight-color);
}
.quantityBoxInputButtonActive:active {
  background: var(--button-click-color);
  box-shadow: inset 1px 1px 1px #1e2225;
  text-shadow: 2px 2px 1px #000000;
}

.quantityBoxInputButtonDisabled {
  border: 1px solid var(--button-hover-color);
  background: var(--button-hover-color);
  color: var(--button-color);
  box-shadow: inset 1px 1px 1px #acacac;
  cursor: default;
}

.quantityBoxInputButtonMinus {
  border-radius: 5px 0 0 5px;
}
.quantityBoxInputButtonPlus {
  border-radius: 0 5px 5px 0;
}

.removeArrows::-webkit-inner-spin-button {
  appearance: none;
}
.removeArrows::-webkit-outer-spin-button {
  appearance: none;
}

.removeArrows {
  appearance: textfield;
}
